.movies {
    margin: 70px 70px 159px;
    display: flex;
    flex-direction: column;
}

.movies__button {
    display: none;
    margin-top: 78px;
    padding: 0;
    min-width: 320px;
    min-height: 36px;
    outline: none;
    border: 1px solid #424242;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    align-self: center;
    cursor: pointer;
    transition: opacity 0.2s;
}

.movies__button_displayed {
    display: inline-block;
}

.movies__button:hover {
    opacity: 0.7;
}

.movies__not-found-msg {
    display: none;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 28px;
    color: #EE3465;
}

.movies__not-found-msg_displayed {
    display: inline-block;
}

@media (max-width: 800px) {
    .movies {
        margin: 88px 30px 60px;
    }
}

@media (max-width: 762px) {
    .movies {
        margin: 88px 14px 60px;
    }
}

@media (max-width: 425px) {
    .movies {
        margin: 88px 14px 159px;
    }

    .movies__button {
        margin-top: 63px;
    }
}