.saved-movies {
    margin: 70px 70px 159px;
    display: flex;
    flex-direction: column;
}

.saved-movies__not-found-msg {
    display: none;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 28px;
    color: #FF004C;
}

.saved-movies__not-found-msg_displayed {
    display: inline-block;
}

@media (max-width: 800px) {
    .saved-movies {
        margin: 70px 30px 60px;
    }
}

@media (max-width: 762px) {
    .saved-movies {
        margin: 88px 14px 60px;
    }
}