.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 70px 0;
    max-width: 100%;
}

.header__logo {
    max-width: 38px;
    max-height: 38px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.header__logo:hover {
    opacity: 0.8;
}

.header__logo:active {
    transform: scale(0.95);
}

@media (max-width: 768px) {
    .header {
        padding: 21px 30px 0;
    }
}

@media (max-width: 578px) {
    .header {
        padding: 18px 14px 0;
    }
}