.movies-card {
    max-width: 360px;
}

.movies-card__check-mark {
    display: none;
    position: absolute;
    margin-left: 325px;
    margin-top: 14px;
    cursor: pointer;
}

.movies-card__check-mark_displayed {
    display: inline-block;
}

.movies-card__button {
    display: none;
    position: absolute;
    outline: none;
    border: none;
    background: #313131;
    border-radius: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 9px;
    color: #FFFFFF;
    min-width: 72px;
    min-height: 21px;
    margin-left: 274px;
    margin-top: 14px;
    cursor: pointer;
}

.movies-card__button_displayed {
    display: inline-block;
}

.movies-card__image {
    max-width: 100%;
    object-fit: contain;
    border-radius: 6px;
    cursor: pointer;
}

.movies-card__text-container {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}

.movies-card__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.movies-card__subtitle-container {
    background-color: #2F2F2F;
    border-radius: 3px;
    min-width: 52px;
    min-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movies-card__subtitle { 
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 10px;
    color: #8B8B8B;
}

@media (max-width: 425px) {
    .movies-card {
        max-width: 300px;
    }

    .movies-card__title {
        font-size: 12px;
        line-height: 15px;
    }

    .movies-card__check-mark {
        margin-left: 269px;
        margin-top: 10px;
    }
}